.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.mat-panel-title {
  font-size: 6px;
}