.button {
    padding: 10px 20px;
    font-size: var(--font-size);
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid black;
    cursor: inherit;
    background-color: var(--button-bg-color) !important;
  }

  .pointer {
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.6;
  }