.sub-heading-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 7rem;
}

.sub-heading-title {
    font-size: var(--medium-font-size);
    width: fit-content; 
}

.sub-heading-text {
    width: fit-content; 
}

.sub-heading-content {
    margin-top: 2rem;
}