<kyp-page-header [pageName]="'About KYP'"></kyp-page-header>

<kyp-sub-heading text="ByLaws" />
<button>View</button>
<p>Ready to see what the Kentucky Party is all about? These bylaws outline a bold vision for political change, putting power in the hands of its members and championing nonviolence, equality, and open participation. From ensuring ballot access to fostering grassroots leadership, the KYP is all about empowering Kentuckians to shape their future. Dive into their commitments to transparency, inclusivity, and dynamic decision-making. Click here to explore how the KYP is redefining politics in the Bluegrass State!</p>
<kyp-divider/>
<kyp-sub-heading text="Platform" />
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
<kyp-executive-committee/>
<kyp-vision-committee/>