<nav class="navigation">
  <div class="menu-header">
    <span class="brand">The Kentucky Party</span>
    <button class="hamburger" (click)="toggleMenu()">
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
    </button>
  </div>

  <ul class="menu" [class.menu-open]="isMenuOpen">
    <li *ngFor="let item of menuItems" class="menu-item">
      <a [routerLink]="item.link" class="menu-link" (click)="isMenuOpen = false">{{ item.label }}</a>
    </li>
  </ul>
</nav>
