@use 'mixins';

@include mixins.mobile {
    .desktop-navigation {
        display: none
    }
    .mobile-navigation {
        display: flex;
    }
}

@include mixins.tabletUp {
    .mobile-navigation {
        display: none
    }
}