.custom-accordion {
    display: flex;
    flex-direction: column;
    width: 99.9%;
    border: 1px solid #ddd;
    border-radius: 4px;
  
    .custom-panel {
      border-bottom: 1px solid #ddd;

      cursor: pointer;
      transition: all 0.3s ease;
  
      &:last-child {
        border-bottom: none;
      }
  
      &.open {
        background-color: #f9f9f9;
  
        .custom-panel-header {
          font-weight: bold;
        }
      }
    }
  
    .custom-panel-header {
      display: grid;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      background-color: #fff;
      margin-top: 10px;
      margin-bottom: 10px;
      grid-template-areas: "title sub-label icon";
      grid-template-columns: 3fr 3fr .1fr;
      gap: 10px;
  
      .custom-panel-title {
        grid-area: title;
        font-size: 16px;
        margin-right: 10px;
      }
  
      .custom-panel-sub-label {
        grid-area: sub-label;
        font-size: 14px;
        color: #666;
      }

      .icon {
        grid-area: icon;
        margin-right: 10%;

      }
    }
  
    .custom-panel-content {
      padding: 16px;
      background-color: #f6f6f6;
      font-size: 14px;
      color: #333;
    }
  }
  